/* Estilizando a Nav Bar*/
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: var(--primary-color);
}

#nav-logo-icon {
  list-style: none;
  color: var(--white-color);
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-link {
  color: var(--white-color);
  padding: 10px 18px;
  border-radius: var(--border-radius-m);
  font-size: var(--font-size-m);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}

@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
  }

  .navbar :where(#menu-close-button, #menu-open-button) {
    font-size: var(--font-size-l);
    display: block;
  }

  .navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .navbar #menu-open-button {
    color: var(--white-color);
  }

  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: var(--white-color);
  }

  body.show-mobile-menu .navbar .nav-menu .nav-link {
    color: var(--dark-color);
    margin-top: 17px;
    display: block;
    font-size: var(--font-size-l);
  }
}
